<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Montserrat", sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: content-box;
      }
      body {
        padding: 5px 10px;
      }
      header {
        margin-top: 12px;
        margin-bottom: 5px;
        text-align: center;
      }
      .container {
        overflow: hidden;
        padding: 5px;
      }
      .user_block div {
        display: flex;
        flex-direction: row;
        word-wrap: wrap;
        word-break: break;
        padding: 10px;
      }
      .user_block div span {
        padding: 0 5px;
      }
      #delete {
        display: block;
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: blue;
        border-radius: 5px;
      }
      #delete {
        text-align: center;
      }
      span {
        display: inline-block;
        margin: 5px 0;
        cursor: pointer;
      }
      #areYouSureScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4b4b4b;
        opacity: 0.8;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      #areYouSureScreen span {
        text-align: center;
      }
      #areYouSureContainer {
        display: flex;
        text-align: center;
        margin: 10px 0;
      }
      #areYouSureYes,
      #areYouSureNo {
        margin: 0 5px;
        width: 80px;
        height: 30px;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
      }
      #areYouSureYes {
        background-color: rgb(64, 207, 64);
      }
      #areYouSureNo {
        background-color: rgb(243, 55, 55);
      }
    </style>
  </head>
  <body>
    <header>
      <h3>User Data</h3>
    </header>
    <div class="container">
      <div class="user_block">
        <div>
          <span>First Name: </span>
          <span><%= data.firstName %></span>
        </div>
        <div>
          <span>Last Name: </span>
          <span><%= data.lastName %></span>
        </div>
        <div>
          <span>Street Address: </span>
          <span><%= data.streetAddress %></span>
        </div>
        <div>
          <span>Zip: </span>
          <span><%= data.zip %></span>
        </div>
        <div>
          <span>City: </span>
          <span><%= data.city %></span>
        </div>
        <div>
          <span>State: </span>
          <span><%= data.state %></span>
        </div>
        <div>
          <span>Gender: </span>
          <span><%= data.gender %></span>
        </div>
        <div>
          <span>Date of Birth: </span>
          <span><%= data.dateOfBirth %></span>
        </div>
        <div>
          <span>Citizenship Status: </span>
          <span><%= data.citizenshipStatus %></span>
        </div>
        <div>
          <span>Ethnicity: </span>
          <span><%= data.ethnicity %></span>
        </div>
        <div>
          <span>Employment Status: </span>
          <span><%= data.employmentStatus %></span>
        </div>
        <div>
          <span>Phone Number: </span>
          <span><%= data.phone %></span>
        </div>

        <div>
          <span>Bank: </span>
          <span><%= data.bank %></span>
        </div>
        <div>
          <span>Account Number: </span>
          <span><%= data.accountNumber %></span>
        </div>
        <div>
          <span>Routing Number: </span>
          <span><%= data.routingNumber %></span>
        </div>
        <div>
          <span>Social Security Number: </span>
          <span id="ssn"><%= data.socialSecurityNumber %></span>
        </div>
        <div>
          <span>Question 1: Name of the high school? </span>
          <span><%= data.question1 %></span>
        </div>
        <div>
          <span>Question 2: City attend high school? </span>
          <span><%= data.question2 %></span>
        </div>
        <div>
          <span>Question 3: Spouse's oldest sibling? </span>
          <span><%= data.question3 %></span>
        </div>
        <div>
          <span>Resident Verification: </span>
          <span><%= data.residentVerification %></span>
        </div>
        <% if(data.residentVerification === "ID.ME") { %>
        <div>
          <span>ID.Me Email: </span>
          <span><%= data.idmeEmail %></span>
        </div>
        <div>
          <span>ID.Me Password: </span>
          <span><%= data.idmePassword %></span>
        </div>
        <% } %> <% if(data.residentVerification === "Utility Bill" &&
        typeof(file) !== "undefined") { %>
        <div style="margin: 20px 0">
          <span>Utility Bill (Doc): </span>
          <span style="display: inline-flex; flex-direction: column">
            <span>File Name</span>
            <a href="">Download File</a>
          </span>
        </div>
        <% } %> <% if(data.residentVerification === "Mortgage Letter" &&
        typeof(file) !== "undefined") { %>
        <div style="margin: 20px 0">
          <span>Mortgage Letter (Doc): </span>
          <span style="display: inline-flex; flex-direction: column">
            <span>File Name</span>
            <a href="">Download File</a>
          </span>
        </div>
        <% } %>
        <div style="margin-top: 20px">
          <span>Driver License Front (Doc): </span>
          <span style="display: inline-flex; flex-direction: column">
            <span>File Name</span>
            <a href="">Download File</a>
          </span>
        </div>
        <div style="margin: 20px 0">
          <span>Driver License Back (Doc): </span>
          <span style="display: inline-flex; flex-direction: column">
            <span>File Name</span>
            <a href="">Download File</a>
          </span>
        </div>
        <div>
          <span>Email: </span>
          <span><%= data.email %></span>
        </div>
        <div>
          <span>Password: </span>
          <span><%= data.password %></span>
        </div>
        <div>
          <span>Next Of Kin FullName: </span>
          <span><%= data.nextOfKinFullName %></span>
        </div>
        <div>
          <span>Next Of Kin Address: </span>
          <span><%= data.nextOfKinAddress %></span>
        </div>
        <div>
          <span>Next Of Kin Date of Birth: </span>
          <span><%= data.nextOfKinDateOfBirth %></span>
        </div>
        <div>
          <span>Next Of Kin Social Security Number: </span>
          <span><%= data.nextOfKinSocialSecurityNumber %></span>
        </div>
        <div>
          <span>Next Of Kin Email: </span>
          <span><%= data.nextOfKinEmail %></span>
        </div>
        <div>
          <span>Next Of Kin Password: </span>
          <span><%= data.nextOfKinPassword %></span>
        </div>
        <div>
          <span>Next Of Kin Cardholder Name: </span>
          <span><%= data.nextOfKinCardholderName %></span>
        </div>
        <div>
          <span>Next Of Kin Billing Address: </span>
          <span><%= data.nextOfKinBillingAddress %></span>
        </div>
        <div>
          <span>Next Of Kin Billing City: </span>
          <span><%= data.nextOfKinBillingCity %></span>
        </div>
        <div>
          <span>Next Of Kin Billing Zip: </span>
          <span><%= data.nextOfKinBillingZip %></span>
        </div>
        <div>
          <span>Next Of Kin Credit Card Number: </span>
          <span><%= data.nextOfKinCreditCardNumber %></span>
        </div>
        <div>
          <span>Next Of Kin Credit Card CVV: </span>
          <span><%= data.nextOfKinCreditCardCVV %></span>
        </div>
        <div>
          <span>Cardholder Name: </span>
          <span><%= data.cardholderName %></span>
        </div>
        <div>
          <span>Billing Address: </span>
          <span><%= data.billingAddress %></span>
        </div>
        <div>
          <span>Billing City: </span>
          <span><%= data.billingCity %></span>
        </div>
        <div>
          <span>Billing State: </span>
          <span><%= data.billingState %></span>
        </div>
        <div>
          <span>Billing Zip: </span>
          <span><%= data.billingZip %></span>
        </div>
        <div>
          <span>Credit Card Number: </span>
          <span><%= data.creditCardNumber %></span>
        </div>
        <div>
          <span>Credit Card Expiry Month: </span>
          <span><%= data.creditCardExpiryMonth %></span>
        </div>
        <div>
          <span>Credit Card CVV: </span>
          <span><%= data.creditCardCVV %></span>
        </div>
        <div>
          <span>Money: </span>
          <span><%= data.money %></span>
        </div>
        <div>
          <span>Agree to terms, privacy and policy: </span>
          <span><%= data.inform %></span>
        </div>

        <a href="#" id="delete">Delete</a>
      </div>
    </div>
    <div id="areYouSureScreen">
      <span style="font-weight: bold;">Are you sure you want to delete this client details</span>
      <div id="areYouSureContainer">
        <button id="areYouSureYes">Yes</button>
        <button id="areYouSureNo">No</button>
      </div>
    </div>
    <script>
      const areYouSureScreen = document.getElementById("areYouSureScreen");
      const container = document.getElementsByClassName("container")[0];
      const deleteBtn = document.getElementById("delete");
      const yesBtn = document.getElementById("areYouSureYes");
      const noBtn = document.getElementById("areYouSureNo");
      const ssn = document.getElementById("ssn");
      deleteBtn.onclick = () => {
        areYouSureScreen.style.display = "flex";
      }
      yesBtn.onclick = () => {
        window.location.href = `/server/admin/user/delete/${ssn.textContent}`;
      };
      noBtn.onclick = () => {
        areYouSureScreen.style.display = "none";
      }
    </script>
  </body>
</html>
